:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --WPI-color: hsl(354, 60%, 42%);
  --WPI-color-light: hsla(354, 60%, 42%, 0.723);
}

.fas {
  font-size: 1.2em;
  margin: 0.5em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

header {
  text-align: center;
}

.description {
  margin-inline: 0.5em;
}

.page-center {
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background-color: var(--WPI-color);
}

.wpi {
  color: var(--WPI-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.event-card {
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 1em;
  margin-inline: 1em;
  user-select: none;
  transition: transform 0.25s;
  position: relative;
}

.event-card:hover {
  transform: scale(1.02);
}

.event-card h2 {
  margin-top: 0.1em;
}

.events-board {
  display: grid;
  gap: 1em;
}

@media screen and (min-width: 800px) {
  .events-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

.btn-event {
  color: white;
  background-color: var(--WPI-color-light);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-event:hover {
  background-color: var(--WPI-color);
}
